# 제로베이스 데이터 취업 스쿨 SQL 과제 1
- 스타벅스 이디야 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 5점
- 5번 15점
- 6번 15점
- 7번 40점
- 8번 5점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

AWS RDS (MySQL) 에 프로젝트 관련 Database 를 생성하고, 접근 가능한 사용자 계정을 생성하세요.

- Database Name : oneday
- User Name / Password : oneday / 1234

In [159]:
import mysql.connector 

remote = mysql.connector.connect(
     host = 'database-1.c1ggqkwi49dp.ap-southeast-2.rds.amazonaws.com',
    port = 3306,
    user='admin',
    password='oklp1349!?',
    database = 'oneday'
)

cur = remote.cursor(buffered=True)

In [160]:
sql_db = 'create database oneday'
sql_user = """create user 'oneday'@'%' identified by '1234'"""
sql_grant = """grant all on oneday to 'oneday'@'%'"""

In [161]:
cur.execute(sql_db)
cur.execute(sql_user)
cur.execute(sql_grant)

DatabaseError: 1007 (HY000): Can't create database 'oneday'; database exists

제출 1.
- Database 생성문 조회 결과 : SHOW CREATE DATABASE oneday;
- 사용자 권한 확인 결과 : SHOW GRANT FOR ‘oneday’@‘%’

In [ ]:
mysql> show create database oneday;
+----------+----------------------------------------------------------------------------------------------------------------------------------+
| Database | Create Database                                                                                                                  |
+----------+----------------------------------------------------------------------------------------------------------------------------------+
| oneday   | CREATE DATABASE `oneday` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */ |
+----------+----------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.15 sec)

mysql> show grants for 'oneday'@'%';
+-----------------------------------------------------------+
| Grants for oneday@%                                       |
+-----------------------------------------------------------+
| GRANT USAGE ON *.* TO `oneday`@`%`                        |
| GRANT ALL PRIVILEGES ON `zerodb`.`oneday` TO `oneday`@`%` |
+-----------------------------------------------------------+
2 rows in set (0.15 sec)

문제 2.

스타벅스 이디야 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [ ]:
sql_brand = 'create table coffee_brand ( id int auto_increment, name varchar(16) , primary key (id))'
sql_store = 'create table coffee_store ( id int auto_increment, brand int , name varchar(32) , gu_name varchar(6) , address varchar(128) , lat decimal(16,14), lng decimal(17,14),primary key (id), foreign key (brand) references coffee_brand(id))'

cur.execute('use oneday')
cur.execute(sql_brand)
cur.execute(sql_store)

문제 3.

Python 코드로 COFFEE_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [ ]:
sql_brand_data = """insert into coffee_brand values (2,"EDIYA")"""

cur.execute(sql_brand_data)

In [ ]:
remote.commit()

제출 2.
- Table 생성 결과 : Desc COFFEE_BRAND; Desc COFFEE_STORE;

제출 3.
- COFFEE_BRAND 조회 결과 : SELECT * FROM COFFEE_BRAND;

In [ ]:
mysql> desc coffee_brand;
+-------+-------------+------+-----+---------+----------------+
| Field | Type        | Null | Key | Default | Extra          |
+-------+-------------+------+-----+---------+----------------+
| id    | int         | NO   | PRI | NULL    | auto_increment |
| name  | varchar(16) | YES  |     | NULL    |                |
+-------+-------------+------+-----+---------+----------------+
2 rows in set (0.15 sec)

mysql> desc coffee_store;
+---------+----------------+------+-----+---------+----------------+
| Field   | Type           | Null | Key | Default | Extra          |
+---------+----------------+------+-----+---------+----------------+
| id      | int            | NO   | PRI | NULL    | auto_increment |
| brand   | int            | YES  | MUL | NULL    |                |
| name    | varchar(32)    | YES  |     | NULL    |                |
| gu_name | varchar(6)     | YES  |     | NULL    |                |
| address | varchar(128)   | YES  |     | NULL    |                |
| lat     | decimal(16,14) | YES  |     | NULL    |                |
| lng     | decimal(17,14) | YES  |     | NULL    |                |
+---------+----------------+------+-----+---------+----------------+
7 rows in set (0.15 sec)

In [ ]:
mysql> select * from coffee_brand;
+----+-----------+
| id | name      |
+----+-----------+
|  1 | STARBUCKS |
|  2 | EDIYA     |
+----+-----------+
2 rows in set (0.15 sec)

문제 4.

스타벅스 페이지에 접근하는 코드에서 팝업창이 없는 경우, 팝업창을 닫는 코드에서 에러가 발생합니다. 예외처리 해서 에러
메시지를 출력하고 실행이 중단되지 않도록 수정해주세요.

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time 
from tqdm import tqdm_notebook

url = 'https://www.starbucks.co.kr/store/store_map.do?disp=locale'
drive = webdriver.Chrome()
drive.get(url)

제출 4.
- 팝업 예외처리 코드 & 실행 결과 (ipynb)

In [ ]:
#팝업창 닫기

try:
        drive.find_element(By.CSS_SELECTOR,'.holiday_notice_close a').click()
except:
        print('팝업이 없습니다')
finally:
        # drive.find_element(By.CLASS_NAME,'set_sido_cd_btn').click()
        drive.find_elements(By.CLASS_NAME,'set_gugun_cd_btn')[0].click()

팝업이 없습니다

문제 5.

Python 코드로 스타벅스 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트: 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 필요한 데이터를 한세트씩 가져와서 COFFEE_STORE 테이블에 각각INSERT 하도록 합니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [ ]:
#전체 데이터 가져오기
req = drive.page_source
soup = BeautifulSoup(req,'html.parser')
cafe_list = soup.select('.quickResultLstCon')
cafe_info= [cafe_list[n].text for n in range(len(cafe_list))]

In [ ]:
' '.join(cafe_info[0].split()[1:6])

'서울특별시 강남구 언주로 425 (역삼동)1522-3232'

In [ ]:
sql_store_data = 'insert into coffee_store values (%s, %s, %s , %s ,%s ,%s ,%s)'

In [ ]:
import googlemaps

gmaps_key = 'AIzaSyDv-g91b19-ky8rbBuzxLWgvELPkVFjrog'
gmaps = googlemaps.Client(key=gmaps_key)

In [ ]:
geo = gmaps.geocode(' '.join(cafe_info[0].split()[1:6]),language='ko')
geo[0]['geometry']['location']['lat'], geo[0]['geometry']['location']['lng']

(37.5011085, 127.0428933)

In [ ]:
#데이터 넣기
for n in tqdm_notebook(range(len(cafe_list))):
    cafe_str = cafe_info[n].split()
    geo = gmaps.geocode(' '.join(cafe_str[1:6]),language='ko')

    df = ' ',1, cafe_str[0], cafe_str[2], ' '.join(cafe_str[1:6]), geo[0]['geometry']['location']['lat'], geo[0]['geometry']['location']['lng']
    
    cur.execute(sql_store_data, df)
    remote.commit()

C:\Users\user\AppData\Local\Temp\ipykernel_21296\2466434372.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for n in tqdm_notebook(range(len(cafe_list))):

  0%|          | 0/613 [00:00<?, ?it/s]

In [ ]:
drive.quit()

제출 5.
- 스타벅스 데이터 관련 코드 & 실행 결과 (ipynb)

In [ ]:
mysql> select * from coffee_store where brand = 1 limit 10;
+----+-------+-----------------+---------+-----------------------------------------------------+-------------------+--------------------+
| id | brand | name            | gu_name | address                                             | lat               | lng                |
+----+-------+-----------------+---------+-----------------------------------------------------+-------------------+--------------------+
|  1 |     1 | 역삼아레나빌딩  | 강남구  | 서울특별시 강남구 언주로 425 (역삼동)1522-3232      | 37.50110850000000 | 127.04289330000000 |
|  2 |     1 | 논현역사거리    | 강남구  | 서울특별시 강남구 강남대로 538 (논현동)1522-3232    | 37.51024760000000 | 127.02237740000000 |
|  3 |     1 | 신사역성일빌딩  | 강남구  | 서울특별시 강남구 강남대로 584 (논현동)1522-3232    | 37.51395800000000 | 127.02066320000000 |
|  4 |     1 | 국기원사거리    | 강남구  | 서울특별시 강남구 테헤란로 125 (역삼동)1522-3232    | 37.49961500000000 | 127.03167580000000 |
|  5 |     1 | 대치재경빌딩    | 강남구  | 서울특별시 강남구 남부순환로 2947 (대치동)1522-3232 | 37.49452480000000 | 127.06258400000000 |
|  6 |     1 | 봉은사역        | 강남구  | 서울특별시 강남구 봉은사로 619 (삼성동)1522-3232    | 37.51503890000000 | 127.06313040000000 |
|  7 |     1 | 압구정윤성빌딩  | 강남구  | 서울특별시 강남구 논현로 834 (신사동)1522-3232      | 37.52283250000000 | 127.02857700000000 |
|  8 |     1 | 코엑스별마당    | 강남구  | 서울특별시 강남구 영동대로 513 (삼성동)1522-3232    | 37.51252070000000 | 127.05881940000000 |
|  9 |     1 | 삼성역섬유센터R | 강남구  | 서울특별시 강남구 테헤란로 518 (대치동)1522-3232    | 37.50745730000000 | 127.06063530000000 |
| 10 |     1 | 압구정R         | 강남구  | 서울특별시 강남구 언주로 861 (신사동)1522-3232      | 37.52741049999999 | 127.03309450000000 |
+----+-------+-----------------+---------+-----------------------------------------------------+-------------------+--------------------+
10 rows in set (0.15 sec)

문제 6.

Python 코드로 이디야 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트 : 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 이디야 페이지에서 검색에 사용할 구 이름은 COFFEE_STORE 에서 중복을 제거하는 쿼리를 사용하여 가져와서 {‘서울 ‘ + 구이름} 형식으로 변환하여 사용하도록 합니다.
- 필요한 데이터를 한 세트씩 가져와서 COFFEE_STORE 테이블에 각각 INSERT 하도록 합니다.
- (주의) COFFEE_STORE 테이블에 입력할 구 이름은 {‘서울 ‘} 이 제거된 구 이름입니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [ ]:
cur.execute('select distinct gu_name from coffee_store')

gu_list = cur.fetchall()
gu_list

[('강남구',),
 ('강북구',),
 ('강서구',),
 ('관악구',),
 ('광진구',),
 ('금천구',),
 ('노원구',),
 ('도봉구',),
 ('동작구',),
 ('마포구',),
 ('서대문구',),
 ('서초구',),
 ('성북구',),
 ('송파구',),
 ('서울특별시',),
 ('양천구',),
 ('영등포구',),
 ('은평구',),
 ('종로구',),
 ('중구',),
 ('강동구',),
 ('구로구',),
 ('동대문구',),
 ('성동구',),
 ('용산구',),
 ('중랑구',)]

In [ ]:
gu_list = ['서울' + str(gu) for gu in gu_list]

In [ ]:
gu_list = [gu_list[n].replace("('",'') for n in range(len(gu_list))]

In [ ]:
gu_list= [gu_list[n].replace("',)",'') for n in range(len(gu_list))]

In [ ]:
gu_list,len(gu_list)

(['서울강남구',
  '서울강북구',
  '서울강서구',
  '서울관악구',
  '서울광진구',
  '서울금천구',
  '서울노원구',
  '서울도봉구',
  '서울동작구',
  '서울마포구',
  '서울서대문구',
  '서울서초구',
  '서울성북구',
  '서울송파구',
  '서울양천구',
  '서울영등포구',
  '서울은평구',
  '서울종로구',
  '서울중구',
  '서울강동구',
  '서울구로구',
  '서울동대문구',
  '서울성동구',
  '서울용산구',
  '서울중랑구'],
 25)

In [ ]:
search = drive.find_element(By.CSS_SELECTOR,'#keyword')
search.send_keys(gu_list[1])

In [ ]:
url = 'https://ediya.com/contents/find_store.html'
drive = webdriver.Chrome()
drive.get(url)

In [ ]:
ediya_info= []

for gu in gu_list:
    print(gu)
    #주소 버튼 클릭
    drive.find_element(By.CSS_SELECTOR,'#contentWrap > div.contents > div > div.store_search_pop > ul > li:nth-child(2) > a').click()
    
    #검색어 입력
    search = drive.find_element(By.CSS_SELECTOR,'#keyword')
    search.send_keys(gu)

    #검색버튼 클릭

    drive.find_element(By.XPATH,'//*[@id="keyword_div"]/form/button').click()
    time.sleep(2)

    req = drive.page_source
    soup = BeautifulSoup(req,'html.parser')

    place_list = soup.find_all('li',class_='item')
    ediya_info.append(place_list)
    drive.refresh()
    time.sleep(2)

관악구
중랑구
강남구
동대문구
서울 강서
서초구
송파구
양천구
마포구
노원구
광진구
강동구
금천구
성동구
용산구
은평구
종로구
영등포구
서대문구
성북구
강북구
서울 중구
구로구
도봉구
동작구

In [ ]:
drive.quit()

In [ ]:
ediya_info[:3]

[[<li class="item"><a href="#c" onclick="panLatTo('126.95603357684','37.4849644283346','0');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>관악우성점</dt> <dd>서울 관악구 관악로 232 (봉천동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.902896907397','37.4801290693885','1');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>관악하나로마트점</dt> <dd>서울 관악구 남부순환로 1369 (신림동, 관악농협농산물백화점)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 관악구 남부순환로 1915 (봉천동)','2');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>낙성대역점</dt> <dd>서울 관악구 남부순환로 1915 (봉천동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.911256043771','37.4809279906563','3');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>난곡사거리점</dt> <dd>서울 관악구 남부순환로 1444 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.919395468118','37.4608681432511','4');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>난향동점</dt> <dd>서울 관악구 난곡로 60 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 관악구 과천대로 909 (남현동, 남현프라자)','5');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>남현홈플러스점</dt> <dd>서울 관악구 과천대로 909 (남현동, 남현프라자)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 관악구 신림로 91 (신림동)','6');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>녹두거리점</dt> <dd>서울 관악구 신림로 91 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.929036226245','37.489287127719','7');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>당곡사거리점</dt> <dd>서울 관악구 봉천로 245 (봉천동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 관악구 보라매로 62 (봉천동, 보라매삼성아파트)','8');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>보라매중앙점</dt> <dd>서울 관악구 보라매로 62 (봉천동, 보라매삼성아파트)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 관악구 은천로 23 (봉천동)','9');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>봉일시장점</dt> <dd>서울 관악구 은천로 23 (봉천동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 관악구 남부순환로 1725 (봉천동)','10');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>봉천역점</dt> <dd>서울 관악구 남부순환로 1725 (봉천동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 관악구 남부순환로 1874 (봉천동)','11');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>봉천중앙점</dt> <dd>서울 관악구 남부순환로 1874 (봉천동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.946749008784','37.4857087156598','12');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>봉천현대시장점</dt> <dd>서울 관악구 양녕로 39-1 (봉천동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.9490007619789','37.48137982242393','13');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>서울대중앙점</dt> <dd>서울 관악구 남부순환로216길 2 (봉천동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('0','0','14');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신대방역점</dt> <dd>서울 관악구 난곡로 368 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.918942273894','37.4725400701048','15');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림난곡점</dt> <dd>서울 관악구 난곡로 197 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.921883674693','37.4834018259286','16');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림남부초교점</dt> <dd>서울 관악구 남부순환로 1541-1 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 관악구 호암로26길 17 (신림동)','17');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림대학동점</dt> <dd>서울 관악구 호암로26길 17 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.933022235665','37.4784569907315','18');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림문화교점</dt> <dd>서울 관악구 신림로46길 1 (신림동, 서원동성당)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 관악구 신림로 262-1 (신림동)','19');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림문화교점</dt> <dd>서울 관악구 신림로 262-1 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.915984298817','37.4765402893322','20');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림미성점</dt> <dd>서울 관악구 난곡로 250 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('0','0','21');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림신원점</dt> <dd>서울 관악구 신원로 16 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.93620717411919','37.475523804882876','22');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림신화교점</dt> <dd>서울 관악구 신림로 199 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.93014982439058','37.48218874829938','23');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림역점</dt> <dd>서울 관악구 신림로 312 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('126.925430749958','37.488621134755','24');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신림패션문화점</dt> <dd>서울 관악구 봉천로6길 24 (신림동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('0','0','25');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>인헌점</dt> <dd>서울 관악구 인헌길 17 (봉천동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('0','0','26');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>청룡중앙점</dt> <dd>서울 관악구 쑥고개로 80 (봉천동, 제이빌딩)</dd></dl></a></li>],
 [<li class="item"><a href="#c" onclick="panLatTo('0','0','0');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>금란망우점</dt> <dd>서울 중랑구 망우로 460 (망우동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.094182772191','37.5896269575279','1');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>동원사거리점</dt> <dd>서울 중랑구 겸재로 240 (면목동, 행복오피스텔)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('0','0','2');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>망우동점</dt> <dd>서울 중랑구 망우로 416 (망우동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.09415879594557','37.5974674047065','3');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>망우중앙점</dt> <dd>서울 중랑구 용마산로115길 109 (망우동, 한일써너스빌리젠시2단지)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.092756577852','37.5992876153903','4');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>망우코레일점</dt> <dd>서울 중랑구 망우로55길 11-10 (상봉동, 망우역)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.076897926489','37.6097411262067','5');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>먹골역점</dt> <dd>서울 중랑구 동일로157길 13 (묵동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.08048931056359','37.574252177368244','6');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>면목경남아너스빌점</dt> <dd>서울 중랑구 면목로27길 92 (면목동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.079680860838','37.5879908042663','7');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>면목늘찬병원점</dt> <dd>서울 중랑구 동일로 643 (면목동, 늘찬병원)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('0','0','8');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>면목본동점</dt> <dd>서울 중랑구 면목로 370 (면목동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.086826066156','37.5901934659094','9');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>면목역점</dt> <dd>서울 중랑구 면목로 429 (면목동, 킴스아파트)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 중랑구 동일로 932 (묵동, 묵동자이아파트)','10');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>묵동자이점</dt> <dd>서울 중랑구 동일로 932 (묵동, 묵동자이아파트)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 중랑구 신내로 211 (신내동)','11');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>봉화산역점</dt> <dd>서울 중랑구 신내로 211 (신내동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.083196727099','37.5834835948977','12');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>사가정아이파크점</dt> <dd>서울 중랑구 동일로92길 57 (면목동, 메디포레)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 중랑구 면목로 325 (면목동)','13');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>사가정역점</dt> <dd>서울 중랑구 면목로 325 (면목동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 중랑구 망우로 353 (상봉동, 상봉 프레미어스 엠코)','14');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>상봉엠코점</dt> <dd>서울 중랑구 망우로 353 (상봉동, 상봉 프레미어스 엠코)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.08342099906','37.5960553404392','15');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>상봉역점</dt> <dd>서울 중랑구 망우로 277 (상봉동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 중랑구 망우로 316 (상봉동)','16');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>상봉중앙점</dt> <dd>서울 중랑구 망우로 316 (상봉동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.087790157773','37.6002908828924','17');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>서울상봉1동점</dt> <dd>서울 중랑구 상봉중앙로 36 (상봉동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.10493732226017','37.618072947765256','18');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>서울중랑경찰서점</dt> <dd>서울 중랑구 신내역로3길 40-11 (신내동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.09544803898843','37.60237451498618','19');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>서울중화초등학교점</dt> <dd>서울 중랑구 신내로7가길 7 (신내동, 제이리옴)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('0','0','20');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>서일중앙점</dt> <dd>서울 중랑구 용마산로 394 (면목동, 해동검도)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 중랑구 봉화산로 215 (신내동)','21');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신내동점</dt> <dd>서울 중랑구 봉화산로 215 (신내동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.10742924472278','37.603128707265014','22');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>양원남부점</dt> <dd>서울 중랑구 양원역로 25-10 (망우동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.10675146670297','37.60748470605642','23');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>양원역점</dt> <dd>서울 중랑구 양원역로14가길 24 (망우동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.085692400436','37.5754345842239','24');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>용마산역점</dt> <dd>서울 중랑구 면목로 254-1 (면목동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('0','0','25');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>중랑교차로점</dt> <dd>서울 중랑구 동일로 683 (면목동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 중랑구 망우로 198 (상봉동)','26');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>중랑역점</dt> <dd>서울 중랑구 망우로 198 (상봉동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.079542626772','37.5993838458016','27');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>중화동점</dt> <dd>서울 중랑구 동일로129길 1 (중화동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 중랑구 동일로 815, 1층','28');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>중화역점</dt> <dd>서울 중랑구 동일로 815, 1층</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.08413727538176','37.61954020149987','29');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>화랑대역점</dt> <dd>서울 중랑구 신내로25가길 2 (묵동, 현동학당)</dd></dl></a></li>],
 [<li class="item"><a href="#c" onclick="panLatTo('0','0','0');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>강남YMCA점</dt> <dd>서울 강남구 논현동</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.0401601992311','37.51654171724045','1');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>강남구청역아이티웨딩점</dt> <dd>서울 강남구 학동로 338 (논현동, 강남파라곤)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.02810578707652','37.51408005446769','2');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>강남논현학동점</dt> <dd>서울 강남구 논현로131길 28 (논현동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.05242928262568','37.50133876179308','3');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>강남대치점</dt> <dd>서울 강남구 역삼로 415 (대치동, 성진빌딩)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 강남구 도산대로37길 20 (신사동)','4');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>강남도산점</dt> <dd>서울 강남구 도산대로37길 20 (신사동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.1007917976449','37.46684383424938','5');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>강남세곡점</dt> <dd>서울 강남구 헌릉로569길 9 (세곡동, 강남지웰파인즈)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.107863694133','37.4735487656314','6');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>강남율현점</dt> <dd>서울 강남구 밤고개로21길 8 (율현동, 세곡프라자)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.06742226515867','37.488604436046536','7');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>개포동역점</dt> <dd>서울 강남구 개포로82길 11 (개포동, 삼우빌딩)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 강남구 언주로 711 (논현동)','8');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>건설회관점</dt> <dd>서울 강남구 언주로 711 (논현동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.07764131137398','37.49418891219431','9');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>대청역점</dt> <dd>서울 강남구 개포로109길 34 (개포동, 대청프라자)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.061617564506','37.4940924880388','10');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>대치역점</dt> <dd>서울 강남구 남부순환로 2937 (대치동, 까치빌딩)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.04304591726503','37.482353824702095','11');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>도곡2동점</dt> <dd>서울 강남구 논현로 142 (도곡동, 동현빌딩)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 강남구 논현동 ','12');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>도산사거리점</dt> <dd>서울 강남구 논현동 </dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.06310437319587','37.50043704079942','13');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>삼성대치점</dt> <dd>서울 강남구 삼성로64길 32 (대치동, 주성빌딩)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 강남구 테헤란로88길 10 (대치동)','14');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>삼성동점</dt> <dd>서울 강남구 테헤란로88길 10 (대치동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.053299510545','37.5138886492475','15');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>삼성중앙역점</dt> <dd>서울 강남구 삼성로 608 (삼성동, 우창빌딩)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 강남구 테헤란로107길 11 (삼성동)','16');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>삼성한전점</dt> <dd>서울 강남구 테헤란로107길 11 (삼성동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.048192060882','37.503774633134','17');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>선릉역점</dt> <dd>서울 강남구 테헤란로 332 (역삼동, HJ타워)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.05088702698811','37.50346806209728','18');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>선릉점</dt> <dd>서울 강남구 선릉로86길 15 (대치동, 현대선릉 GOLD TOWER)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('0','0','19');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>선정릉역점</dt> <dd>서울 강남구 봉은사로 326 (역삼동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.10304411368496','37.487429952799744','20');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>수서역점</dt> <dd>서울 강남구 광평로 280 (수서동, 로즈데일오피스텔)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.02145819084597','37.517782772275645','21');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>신사역점</dt> <dd>서울 강남구 압구정로2길 62 (신사동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 강남구 선릉로161길 20 (신사동)','22');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>압구정로데오역점</dt> <dd>서울 강남구 선릉로161길 20 (신사동)</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panAddTo('서울 강남구 신사동','23');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>압구정점</dt> <dd>서울 강남구 신사동</dd></dl></a></li>,
  <li class="item"><a href="#c" onclick="panLatTo('127.03073566616045','37.527994487818226','24');fnMove();"><div class="store_thum"><img src="../images/customer/store_thum.gif"/></div><dl><dt>압구정현대점 </dt> <dd>서울 강남구 압구정로 214 (신사동, 현대종합상가빌딩)</dd></dl></a></li>,

In [ ]:
ediya_info[0][0].find('dt').text, ediya_info[0][0].find('dd').text

('관악우성점', '서울 관악구 관악로 232 (봉천동)')

In [ ]:
d= ediya_info[0][0].find('dd').text
d.split()[1]

'관악구'

In [ ]:
geo = gmaps.geocode(d,language='ko')
geo[0]['geometry']['location']['lat'], geo[0]['geometry']['location']['lng']

(37.4849477, 126.9560274)

In [ ]:
sql_store_data = 'insert into coffee_store values (%s, %s, %s , %s ,%s ,%s ,%s)'

In [ ]:
# 데이터 넣기 
for n in tqdm_notebook(range(len(ediya_info))):
    for i in range(len(ediya_info[n])):
        ediya_name = ediya_info[n][i].find('dt').text
        ediya_address = ediya_info[n][i].find('dd').text
        ediya_gu = ediya_address.split()[1]
        geo = gmaps.geocode(ediya_address,language='ko')

        df= ' ',2,ediya_name,ediya_gu,ediya_address, geo[0]['geometry']['location']['lat'], geo[0]['geometry']['location']['lng']
        cur.execute(sql_store_data, df)
        remote.commit()

C:\Users\user\AppData\Local\Temp\ipykernel_21296\3469115697.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for n in tqdm_notebook(range(len(ediya_info))):

  0%|          | 0/25 [00:00<?, ?it/s]

제출 6.
- 이디야 데이터 관련 코드 & 실행 결과 (ipynb)

In [ ]:
mysql> select * from coffee_store where brand = 2 limit 10;
+-----+-------+------------------+---------+------------------------------------------------------------+-------------------+--------------------+
| id  | brand | name             | gu_name | address                                                    | lat               | lng
    |
+-----+-------+------------------+---------+------------------------------------------------------------+-------------------+--------------------+
| 614 |     2 | 관악우성점       | 관악구  | 서울 관악구 관악로 232 (봉천동)                            | 37.48494770000000 | 126.95602740000000 |
| 615 |     2 | 관악하나로마트점 | 관악구  | 서울 관악구 남부순환로 1369 (신림동, 관악농협농산물백화점) | 37.48012740000000 | 126.90225710000000 |
| 616 |     2 | 낙성대역점       | 관악구  | 서울 관악구 남부순환로 1915 (봉천동)                       | 37.47792620000000 | 126.96222190000000 |
| 617 |     2 | 난곡사거리점     | 관악구  | 서울 관악구 남부순환로 1444 (신림동)                       | 37.48090380000000 | 126.91127540000000 |
| 618 |     2 | 난향동점         | 관악구  | 서울 관악구 난곡로 60 (신림동)                             | 37.46081360000000 | 126.91938330000000 |
| 619 |     2 | 남현홈플러스점   | 관악구  | 서울 관악구 과천대로 909 (남현동, 남현프라자)              | 37.47147830000000 | 126.98241310000000 |
| 620 |     2 | 녹두거리점       | 관악구  | 서울 관악구 신림로 91 (신림동)                             | 37.47027810000000 | 126.93912000000000 |
| 621 |     2 | 당곡사거리점     | 관악구  | 서울 관악구 봉천로 245 (봉천동)                            | 37.48929670000000 | 126.92903800000000 |
| 622 |     2 | 보라매중앙점     | 관악구  | 서울 관악구 보라매로 62 (봉천동, 보라매삼성아파트)         | 37.49409710000000 | 126.92785450000000 |
| 623 |     2 | 봉일시장점       | 관악구  | 서울 관악구 은천로 23 (봉천동)                             | 37.48641670000000 | 126.93792210000000 |
+-----+-------+------------------+---------+------------------------------------------------------------+-------------------+--------------------+
10 rows in set (0.15 sec)

문제 7.

Python 코드에서 다음의 데이터를 쿼리를 사용하여 조회하세요.

- 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)

In [ ]:
sql_1 = 'select gu_name , count(name) 매장수 from coffee_store where brand = 1 group by gu_name order by 매장수 desc limit 5'
sql_2 = 'select gu_name , count(name) 매장수 from coffee_store where brand = 2 group by gu_name order by 매장수 desc limit 5'
sql_3 = 'select gu_name , brand, count(name) 매장수 from coffee_store group by gu_name , brand'
sql_4 = """SELECT e.gu_name, COUNT(e.name) AS 스타벅스매장수, s.이디야매장수 AS 이디야매장수 FROM coffee_store e 
inner JOIN (SELECT gu_name, COUNT(name) AS 이디야매장수 FROM coffee_store WHERE brand = 2 GROUP BY gu_name) s 
ON e.gu_name = s.gu_name 
WHERE e.brand = 1 GROUP BY e.gu_name"""

In [179]:
cur.execute(sql_1)
cur.execute(sql_2)
cur.execute(sql_3)
cur.execute(sql_4)

제출 7.
- 관련 코드 & 실행 결과 (ipynb)

In [ ]:
mysql> select gu_name , count(name) 매장수 from coffee_store where brand = 1 group by gu_name order by 매장수 desc limit 5;
+----------+--------+
| gu_name  | 매장수 |
+----------+--------+
| 강남구   |     91 |
| 중구     |     52 |
| 서초구   |     48 |
| 영등포구 |     43 |
| 종로구   |     39 |
+----------+--------+
5 rows in set (0.15 sec)

In [ ]:
mysql> select gu_name , count(name) 매장수 from coffee_store where brand = 2 group by gu_name order by 매장수 desc limit 5;
+----------+--------+
| gu_name  | 매장수 |
+----------+--------+
| 강서구   |     44 |
| 강남구   |     42 |
| 마포구   |     37 |
| 종로구   |     35 |
| 영등포구 |     35 |
+----------+--------+
5 rows in set (0.15 sec)

In [ ]:
mysql> select gu_name , brand, count(name) 매장수 from coffee_store group by gu_name , brand;
+----------+-------+--------+
| gu_name  | brand | 매장수 |
+----------+-------+--------+
| 강남구   |     1 |     91 |
| 강북구   |     1 |      6 |
| 강서구   |     1 |     27 |
| 관악구   |     1 |     12 |
| 광진구   |     1 |     19 |
| 금천구   |     1 |     13 |
| 노원구   |     1 |     14 |
| 도봉구   |     1 |      7 |
| 동작구   |     1 |     11 |
| 마포구   |     1 |     36 |
| 서대문구 |     1 |     22 |
| 서초구   |     1 |     48 |
| 성북구   |     1 |     15 |
| 송파구   |     1 |     37 |
| 양천구   |     1 |     17 |
| 영등포구 |     1 |     43 |
| 은평구   |     1 |     14 |
| 종로구   |     1 |     39 |
| 중구     |     1 |     52 |
| 강동구   |     1 |     17 |
| 구로구   |     1 |     14 |
| 동대문구 |     1 |     13 |
| 성동구   |     1 |     14 |
| 용산구   |     1 |     24 |
| 중랑구   |     1 |      8 |
| 관악구   |     2 |     27 |
| 중랑구   |     2 |     30 |
| 강남구   |     2 |     42 |
| 동대문구 |     2 |     23 |
| 강서구   |     2 |     44 |
| 서초구   |     2 |     29 |
| 송파구   |     2 |     31 |
| 양천구   |     2 |     26 |
| 마포구   |     2 |     37 |
| 노원구   |     2 |     31 |
| 광진구   |     2 |     21 |
| 강동구   |     2 |     28 |
| 금천구   |     2 |     21 |
| 성동구   |     2 |     21 |
| 용산구   |     2 |     13 |
| 은평구   |     2 |     29 |
| 종로구   |     2 |     35 |
| 영등포구 |     2 |     35 |
| 서대문구 |     2 |     23 |
| 성북구   |     2 |     30 |
| 강북구   |     2 |     16 |
| 중구     |     2 |     34 |
| 구로구   |     2 |     26 |
| 도봉구   |     2 |     23 |
| 동작구   |     2 |     24 |
+----------+-------+--------+
50 rows in set (0.15 sec)

In [ ]:
mysql> SELECT e.gu_name, COUNT(e.name) AS 스타벅스매장수, s.이디야매장수 AS 이디야매장수 FROM coffee_store e
    -> inner JOIN (SELECT gu_name, COUNT(name) AS 이디야매장수 FROM coffee_store WHERE brand = 2 GROUP BY gu_name) s
    -> ON e.gu_name = s.gu_name
    -> WHERE e.brand = 1 GROUP BY e.gu_name;
+----------+----------------+--------------+
| gu_name  | 스타벅스매장수 | 이디야매장수 |
+----------+----------------+--------------+
| 강남구   |             91 |           42 |
| 강북구   |              6 |           16 |
| 강서구   |             27 |           44 |
| 관악구   |             12 |           27 |
| 광진구   |             19 |           21 |
| 금천구   |             13 |           21 |
| 노원구   |             14 |           31 |
| 도봉구   |              7 |           23 |
| 동작구   |             11 |           24 |
| 마포구   |             36 |           37 |
| 서대문구 |             22 |           23 |
| 서초구   |             48 |           29 |
| 성북구   |             15 |           30 |
| 송파구   |             37 |           31 |
| 양천구   |             17 |           26 |
| 영등포구 |             43 |           35 |
| 은평구   |             14 |           29 |
| 종로구   |             39 |           35 |
| 중구     |             52 |           34 |
| 강동구   |             17 |           28 |
| 구로구   |             14 |           26 |
| 동대문구 |             13 |           23 |
| 성동구   |             14 |           21 |
| 용산구   |             24 |           13 |
| 중랑구   |              8 |           30 |
+----------+----------------+--------------+
25 rows in set (0.15 sec)

문제 8.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작업)

- 전체 데이터를 가져오는데, 각 스타벅스 매장별로 이디야 전체 매장정보가 매칭되어 있어야 합니다. (정렬 : s_id, e_id 순)
- 다음의 형식으로 저장되어야 합니다. (브랜드 이름, 칼럼 명 주의)
- 데이터 프레임 출력을 해주세요. 데이터 프레임 미출력시 감점입니다.

In [165]:
sql_all = """SELECT s.id AS s_id,
(SELECT name FROM coffee_brand WHERE id = 1) AS s_brand, 
s.name AS s_name, s.gu_name AS s_gu, s.address AS s_address,
s.lat AS s_lat,s.lng AS s_lng, 
e.id AS e_id, (SELECT name FROM coffee_brand WHERE id = 2) AS e_brand,
e.name AS e_name,
e.gu_name AS e_gu,
e.address AS e_address,
e.lat AS e_lat,
e.lng AS e_lng
FROM coffee_store s
LEFT JOIN coffee_store e ON s.gu_name = e.gu_name"""

In [166]:
cur.execute(sql_all)
result = cur.fetchall()

In [173]:
import pandas as pd
df = pd.DataFrame(result)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,712,EDIYA,한티역점,강남구,서울 강남구 도곡로69길 8 (대치동),37.49795510000000,127.05613040000000
1,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,711,EDIYA,학동제마점,강남구,서울 강남구 학동로34길 22 (논현동),37.51313870000001,127.03365000000000
2,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,710,EDIYA,학동역점,강남구,"서울 강남구 학동로 219 (논현동, 국제빌딩)",37.50979250000000,127.02157800000000
3,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,709,EDIYA,포이사거리점,강남구,서울 강남구 개포로 218 (개포동),37.47846800000000,127.04662500000000
4,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,708,EDIYA,청담역점,강남구,"서울 강남구 삼성로 721 (청담동, 룩희 819)",37.52006810000000,127.04916340000000

In [175]:
df.rename(columns = {0 : 's_id',1 : 's_brand', 2: 's_name', 3: 's_gu', 4: 's_address',
5 : 's_lat',6: 's_lng',7: 'e_id',8: 'e_brand',9: 'e_name',10:'e_gu',11: 'e_address',12: 'e_lat', 13: 'e_lng'},inplace=True)

In [176]:
df.head()

,s_id,s_brand,s_name,s_gu,s_address,s_lat,s_lng,e_id,e_brand,e_name,e_gu,e_address,e_lat,e_lng
0,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,712,EDIYA,한티역점,강남구,서울 강남구 도곡로69길 8 (대치동),37.49795510000000,127.05613040000000
1,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,711,EDIYA,학동제마점,강남구,서울 강남구 학동로34길 22 (논현동),37.51313870000001,127.03365000000000
2,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,710,EDIYA,학동역점,강남구,"서울 강남구 학동로 219 (논현동, 국제빌딩)",37.50979250000000,127.02157800000000
3,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,709,EDIYA,포이사거리점,강남구,서울 강남구 개포로 218 (개포동),37.47846800000000,127.04662500000000
4,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.50110850000000,127.04289330000000,708,EDIYA,청담역점,강남구,"서울 강남구 삼성로 721 (청담동, 룩희 819)",37.52006810000000,127.04916340000000

In [178]:
df.to_csv('sql1_kimmijin.csv',encoding = 'utf-8-sig',sep =',')

제출 8.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

---